<p>Titles</p>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.content %></td>
            <td><%= link_to 'show', article_path(article) %></td>
        </tr>
        <% end %>
    </tr>
</table>

<%= link_to 'New article', new_article_path %>
